In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train = pd.read_csv('Train_v2.csv')
test = pd.read_csv('Test_v2.csv')

In [3]:
var_def = pd.read_csv('VariableDefinitions.csv')
var_def.head()

  Variable Definitions                                         Unnamed: 1
0              country                         Country interviewee is in.
1                 year                           Year survey was done in.
2             uniqueid             Unique identifier for each interviewee
3        location_type                     Type of location: Rural, Urban
4     cellphone_access  If interviewee has access to a cellphone: Yes, No

In [4]:
train.head()

,country,year,uniqueid,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_1,Yes,Rural,Yes,3,24,Female,Spouse,Married/Living together,Secondary education,Self employed
1,Kenya,2018,uniqueid_2,No,Rural,No,5,70,Female,Head of Household,Widowed,No formal education,Government Dependent
2,Kenya,2018,uniqueid_3,Yes,Urban,Yes,5,26,Male,Other relative,Single/Never Married,Vocational/Specialised training,Self employed
3,Kenya,2018,uniqueid_4,No,Rural,Yes,5,34,Female,Head of Household,Married/Living together,Primary education,Formally employed Private
4,Kenya,2018,uniqueid_5,No,Urban,No,8,26,Male,Child,Single/Never Married,Primary education,Informally employed

In [5]:
test.head()

,country,year,uniqueid,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_6056,Urban,Yes,3,30,Male,Head of Household,Married/Living together,Secondary education,Formally employed Government
1,Kenya,2018,uniqueid_6060,Urban,Yes,7,51,Male,Head of Household,Married/Living together,Vocational/Specialised training,Formally employed Private
2,Kenya,2018,uniqueid_6065,Rural,No,3,77,Female,Parent,Married/Living together,No formal education,Remittance Dependent
3,Kenya,2018,uniqueid_6072,Rural,No,6,39,Female,Head of Household,Married/Living together,Primary education,Remittance Dependent
4,Kenya,2018,uniqueid_6073,Urban,No,3,16,Male,Child,Single/Never Married,Secondary education,Remittance Dependent

In [6]:
train.isnull().sum()

country                   0
year                      0
uniqueid                  0
bank_account              0
location_type             0
cellphone_access          0
household_size            0
age_of_respondent         0
gender_of_respondent      0
relationship_with_head    0
marital_status            0
education_level           0
job_type                  0
dtype: int64

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23524 entries, 0 to 23523
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 23524 non-null  object
 1   year                    23524 non-null  int64
 2   uniqueid                23524 non-null  object
 3   bank_account            23524 non-null  object
 4   location_type           23524 non-null  object
 5   cellphone_access        23524 non-null  object
 6   household_size          23524 non-null  int64
 7   age_of_respondent       23524 non-null  int64
 8   gender_of_respondent    23524 non-null  object
 9   relationship_with_head  23524 non-null  object
 10  marital_status          23524 non-null  object
 11  education_level         23524 non-null  object
 12  job_type                23524 non-null  object
dtypes: int64(3), object(10)
memory usage: 2.3+ MB

In [8]:
from sklearn.preprocessing import LabelEncoder
encode = LabelEncoder()

In [9]:
train['country'] = encode.fit_transform(train['country'])
# train['uniqueid'] = encode.fit_transform(train['uniqueid'])
train['location_type'] = encode.fit_transform(train['location_type'])
train['cellphone_access'] = encode.fit_transform(train['cellphone_access'])
train['gender_of_respondent'] = encode.fit_transform(train['gender_of_respondent'])
train['relationship_with_head'] = encode.fit_transform(train['relationship_with_head'])
train['marital_status'] = encode.fit_transform(train['marital_status'])
train['education_level'] = encode.fit_transform(train['education_level'])
train['job_type'] = encode.fit_transform(train['job_type'])

In [10]:
test['country'] = encode.fit_transform(test['country'])
# test['uniqueid'] = encode.fit_transform(test['uniqueid'])
test['location_type'] = encode.fit_transform(test['location_type'])
test['cellphone_access'] = encode.fit_transform(test['cellphone_access'])
test['gender_of_respondent'] = encode.fit_transform(test['gender_of_respondent'])
test['relationship_with_head'] = encode.fit_transform(test['relationship_with_head'])
test['marital_status'] = encode.fit_transform(test['marital_status'])
test['education_level'] = encode.fit_transform(test['education_level'])
test['job_type'] = encode.fit_transform(test['job_type'])

In [11]:
train.head()

,country,year,uniqueid,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,0,2018,uniqueid_1,Yes,0,1,3,24,0,5,2,3,9
1,0,2018,uniqueid_2,No,0,0,5,70,0,1,4,0,4
2,0,2018,uniqueid_3,Yes,1,1,5,26,1,3,3,5,9
3,0,2018,uniqueid_4,No,0,1,5,34,0,1,2,2,3
4,0,2018,uniqueid_5,No,1,0,8,26,1,0,3,2,5

In [12]:
test.head()

,country,year,uniqueid,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,0,2018,uniqueid_6056,1,1,3,30,1,1,2,3,2
1,0,2018,uniqueid_6060,1,1,7,51,1,1,2,5,3
2,0,2018,uniqueid_6065,0,0,3,77,0,4,2,0,8
3,0,2018,uniqueid_6072,0,0,6,39,0,1,2,2,8
4,0,2018,uniqueid_6073,1,0,3,16,1,0,3,3,8

In [13]:
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier
from sklearn.feature_selection import RFE
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

In [14]:
from sklearn.model_selection import train_test_split
X = train.drop(['bank_account', 'uniqueid'], axis=1)
y = train['bank_account']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 100)

In [15]:
X_train.shape

(18819, 11)

In [16]:
from sklearn.pipeline import Pipeline
pipe = Pipeline([
    ('scale', StandardScaler())])

pipe.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('scale',
                 StandardScaler(copy=True, with_mean=True, with_std=True))],
         verbose=False)

In [17]:
X_test = pipe.fit_transform(X_test)

In [200]:
# model = XGBClassifier(n_estimators=1000, random_state=1000, learning_rate=0.2, verbose = 0)
model = LogisticRegression(solver='lbfgs', max_iter=500000)
rfe = RFE(model, 6, verbose=1)
rfe.fit(X, y)

Fitting estimator with 11 features.
Fitting estimator with 10 features.
Fitting estimator with 9 features.
Fitting estimator with 8 features.
Fitting estimator with 7 features.

RFE(estimator=LogisticRegression(C=1.0, class_weight=None, dual=False,
                                 fit_intercept=True, intercept_scaling=1,
                                 l1_ratio=None, max_iter=500000,
                                 multi_class='auto', n_jobs=None, penalty='l2',
                                 random_state=None, solver='lbfgs', tol=0.0001,
                                 verbose=0, warm_start=False),
    n_features_to_select=6, step=1, verbose=1)

In [201]:
rfe.support_

array([ True, False,  True,  True,  True, False,  True, False, False,
        True, False])

In [202]:
xx = X[X.columns[rfe.support_]]
xx.head()

,country,location_type,cellphone_access,household_size,gender_of_respondent,education_level
0,0,0,1,3,0,3
1,0,0,0,5,0,0
2,0,1,1,5,1,5
3,0,0,1,5,0,2
4,0,1,0,8,1,2

In [203]:
X_train, X_test, y_train, y_test = train_test_split(xx, y, test_size=0.2, random_state=8, stratify = y)

In [204]:
# model = XGBClassifier(n_estimators=1000, random_state=1000, learning_rate=0.2, verbose = 0)
# model = LGBMClassifier(n_estimators=1000, random_state=1000, learning_rate=0.2, verbose=0)
model = LogisticRegression(solver='lbfgs', max_iter=100000)
# model = CatBoostClassifier(n_estimators=1000, random_state=1000, learning_rate=0.2, verbose=0)
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [205]:
model.score(X_train, y_train)

0.8722036239970243

In [206]:
model.score(X_test, y_test)

0.8707757704569606

In [207]:
test1 = test[X.columns[rfe.support_]]

In [208]:
S = pd.read_csv('SubmissionFile.csv')
S.head()

                uniqueid  bank_account
0  uniqueid_7867 x Kenya           1.0
1  uniqueid_6722 x Kenya           0.0
2  uniqueid_6714 x Kenya           1.0
3  uniqueid_8103 x Kenya           1.0
4  uniqueid_8657 x Kenya           1.0

In [209]:
ss = pd.DataFrame({'uniqueid': S.uniqueid, 'bank_account': model.predict(test1)})

In [210]:
ss['bank_account'] = encode.fit_transform(ss['bank_account'])

In [211]:
ss.to_csv('Submission.csv', index=False)